
    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">Cart</span>
                <button class="offcanvas-close">×</button>
            </div>
            <hr>

            <div class="body customScroll">
                <ul class="minicart-product-list">
                    <% if (typeof navCart !== "undefined" && navCart.cart.items.length > 0) { %>

                    <% for (let i = 0; i < navCart.cart.items.length; i++ ){%> 
            
                    <li>
                        <a href="/cart" class="image"><img src="<%= navCart.cart.items[i].productId.image[0].url%> "
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="/shop/<%= navCart.cart.items[i].productId._id %>" class="title"> <%= navCart.cart.items[i].productId.name%></a>
                            <span class="quantity-price"> <%= navCart.cart.items[i].qty %> x <span class="amount">$
                                <% if (navCart.cart.items[i].productId.onsale) { %>
                                    <%= navCart.cart.items[i].productId.saleprice%>
                                    <% } else {%>
                                        <%= navCart.cart.items[i].productId.price%>
                                    <%} %>
                                 </span></span>
                                 <form action='/delete-item?_method=DELETE' method="POST">
                                    <input type="hidden" name="product[id]" value="<%=navCart.cart.items[i].productId._id%>">
                                    <input type="hidden" name="product[onsale]" value="<%= navCart.cart.items[i].productId.onsale %>">
                                    <input type="hidden" name="product[price]" value="<%= navCart.cart.items[i].productId.price %>">
                                    <input type="hidden" name="product[saleprice]" value="<%= navCart.cart.items[i].productId.saleprice %>"> 
                                    <input type="hidden" name="product[qty]" value="<%= navCart.cart.items[i].qty %>">     
                                 <button type="submit"> 
                            
                                    <p class="remove">×</p>
                                    
                                 </button>
                                 </form>
                        </div>
                    </li>
                    <%} %>
                    <div>
                        <br>
                        
                        <h5 class="grand-totall-title">Subtotal：
                            <br>
                             <span>  HK $ <%=navCart.cart.subTotal %></span></h5>
                    </div>
                    <div class="foot">
                        <div class="buttons mt-30px">
                            <a href="/cart" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                            <a href="/<%=navCart._id%>/checkout" class="btn btn-outline-dark current-btn">checkout</a>
                        </div>
                    </div>

                    <% } else { %>
                        <li>
                            
                            <h5> Your Cart is Empty, Let's Shop! </h5>
                            </li>
                    <% } %>
                    
                   
                </ul>
                
            </div>
            
        </div>
    </div>