<% for (let product of products) {%>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up"
        data-aos-delay="200">
        <!-- Single Prodect -->
        <div class="product">
            <div class="thumb">
                <a href="/shop/<%=product._id %>" class="image">
                    <img src="/images/product-image/1.jpg"
                        alt="Product" />
                    <img class="hover-image"
                        src="/images/product-image/1.jpg" alt="Product" />
                </a>
                <span class="badges">
                    <span class="new">New</span>
                    <% if(product.onsale) {%>
                        <span class="sale">Sale</span>
                    <%}%>
                </span>
                <div class="actions">
                    <a href="wishlist.html" class="action wishlist"
                        title="Wishlist"><i class="pe-7s-like"></i></a>
                    <a href="#" class="action quickview"
                        data-link-action="quickview" title="Quick view"
                        data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                            class="pe-7s-look"></i></a>
                    <a href="compare.html" class="action compare"
                        title="Compare"><i class="pe-7s-refresh-2"></i></a>
                </div>
            </div>
            <div class="content">
                <span class="ratings">
                    <span class="rating-wrap">
                        <span class="star" style="width: 100%"></span>
                    </span>
                    <span class="rating-num d-none">( 5 Review )</span>
                </span>
                <h5 class="title"><a href="/shop/<%=product._id %>"> <%=product.name %>
                    </a>
                </h5>
                <span class="price">
                    <% if ( product.onsale) { %>
                        <span class="new">$<%=product.saleprice %></span>
                        <span class="old">$<%=product.price %> </span>
                        <%} else { %>
                            <span class="new">$<%=product.price %></span>
                        <% } %>

                   
                    
                </span>
            </div>
            <button title="Add To Cart" class=" add-to-cart">Add
                To Cart</button>
        </div>
    </div>
    <% }%>