<!doctype html>
<html lang="en">

<head>
	<%- include('partials/head') %>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<%- include('partials/nav') %>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<%- include('partials/leftslider') %>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="row justify-content-md-center"></div>
					<div class="container-fluid">
						<h1 class="page-title"><b> Edit the following product:</b></h2>
						<h2 class="page-title">Product ID : <%=product._id %></h2>
                        <h2 class="page-title">Product Name: <%=product.name %></h2>
						<%- include('partials/imageCarousel') %>
						<div class="row justify-content-md-center">
							<div class="col-md-9">
							<div class="panel">
								<div class="panel-body">
								
									<form action="/dashboard/product/<%=product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
										<br>
										<div class="row"> 
											<div class="col-md-6">
												<label for="name">Product Name</label>
												<input class="form-control" type="text" id="name" name="product[name]" value="<%=product.name %>" required>
											</div>
											
											<div class="col-md-3">
												<label for="name">Instore qty </label>
												<input class="form-control" type="number" id="qty" name="product[qty]" value="<%=product.qty %>">
											</div>
											<div class="col-md-3">
												<label for="onsale">Category</label>
												
												<select class="form-control" name="product[category]" id="product[category]" >
													<% for (let category of categories ){%>
													<option value="<%=category %>" <%= product.category === category? 'selected': '' %>> <%=category %></option>
													
													<% }%>
													
													
													</select>

											</div>
											
											
										</div>
										<br>
										<div class="row">
											<div class="col-md-3">
											<label for="onsale">Flavor</label>
											<input class="form-control" type="text" id="flavor" name="product[flavor]" value="<%= product.flavor %>"></input>
											</div>
											<div class="col-md-3">
												<label for="onsale">$Price</label>									
												<input class="form-control" type="text" id="price" name="product[price]" value="<%=product.price %>"required></input>
											</div>
											
											
											<div class="col-md-3">
												<label for="onsale">On Sale</label>
												<select class="form-control" type="text" name="product[onsale]" value="<%=product.onsale%>" >
													
													<option value="false"> No </option>
													<option value="true" 
													<%=product.onsale === true ? 'selected':'' %>
													> Yes</option>
												</select>

											</div>
											<div class="col-md-3">
												<label for="saleprice">Sale Price</label>									
												<input class="form-control" type="text" id="saleprice" name="product[saleprice]" value="<%= product.saleprice%>" >
											</div>
											
											

										</div>
										<br>
										<div class="row">
											<div class="col-md-12">
												<br>
												<!-- <label for="name"> Edit Image </label>
												<% for (let i = 0; i < product.image.length; i++){ %>
													<input class="form-control" type="text" id="image" name="product[image]" value="<%=product.image[i].url %>" >
												<% } %>
											 -->
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<label for="name"> Description </label>
												<textarea class="form-control" name="product[description]" value="<%= product.description %>" 
													placeholder="<%= product.description %>" id="product[description]" rows="6"></textarea>
											</div>

										</div>
										
										<div class="row">
											<div class="col-md-12">
												<br>
												<hr>
												<br>
												<!-- <label for="name"> Image </label> -->
												<!-- <input class="form-control" type="file" id="image" name="product[image]" multiple> -->
												<label class="form-file-label" for="image">
													<span class="form-file-text custom-file-label">Add more product images</span>
											
												</label>
												<input type="file" class="form-file-input" id="image" name="image" multiple>
												
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<br>
												<hr>
												<label for="name"> Select Images to remove </label>
												<div class="row" style="padding: 20px;">
													<style>
														.selectedImage:hover{
															border: 5px solid #e0a143;  
															border-radius: 25px;
														}
													
													</style>
													
													<% product.image.forEach(function (img, i) { %>
														
													<% if(img != null ) {%>
														
									
															<div class="col-md-3">
																
																	
																<img src="<%=img.url%>" class="selectedImage" style="width:100px; height:auto;" >
																<br>
																<label for="image-<%=i%>"> <span>Delete me ? </span></label>
																<input class="checkbox" type="checkbox" id="image-<%=i%>" name="deleteImages[]" 
																	value="<%=img.filename%>" hidden >
																<% } else {%>
																	<span> testing</span>
																<%} %>

															</div>
											
													  <% })%>
															
													 
													  
													
												</div>

												
											</div>

										</div>
										
						
										<br>	
										<div class="col-md-12 text-right">
											<a href="/dashboard/product" class="btn btn-warning"  > < back to all product</a>
											<button class="btn btn-success" type="submit">
												Update 
											</button>
											
											

										</div>
										
									</form>
								</div>
							</div>
							<!----Delete --->
									
							<div class="text center">
							<div class="row ">
							<div class="col-md-3"> 
							
							</div>		
							<div class="col-md-2"></div>		
							<div class="col-md-3">
								

								<button id="popupbtn" class="btn btn-danger" > Delete Product </button>
			
							
							</div>
							</div>
							</div>
							<br>
							<!--message box-->
							
							<div id="message-box" class="message-box" style="display: none;">
								
								<div class="overplay">
								<div class="content">
									<button id="close-btn" class="close-btn"> &times;<i></i></button>
									<h3>Delete</h3>
									<p>All the <b> info and images</b> will be deleted. Are you sure you want to delete 
										Product : 
										<b>"<%=product.name %>"?</b> </p>
									
							
								
									<div class="panel-body">

										<form action="/dashboard/product/<%=product._id %>?_method=DELETE" method="POST">
											<div class="col-md-3"></div>	
											<div class="col-md-3">
													<button type="submit" class="btn btn-danger "  > Yes, Delete  <b><%=product.name %></b> </button>
												</div>
										
											<% product.image.forEach(function (img, i) { %>
														
													<% if(img != null ) {%>
														
															
																
															<!-- <img src="<%=img.url%>" class="selectedImage" style="width:100px; height:auto;" >
															<br> -->
															
															<input class="deletebox" type="checkbox" id="image-<%=i%>" name="deleteImages[]" 
																value="<%=img.filename%>"  >
													<% }  %>
								
														</div>
										
											 <% })%>
														
												 
												  
											
										</form>
										
									</div>
									</div>
							
							
							</div>
							
							<!--end delete-->

							</div>
						</div>



								
					
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../..//vendor/jquery/jquery.min.js"></script>
	<script src="../..//vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../..//vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../..//scripts/klorofil-common.js"></script>

	<script>
		$(document).ready(function (){
				$("#popupbtn").click(function(){
					$("#message-box").show(500);
					$(".checkbox").prop('checked', true);
					$(".deletebox").hide();

				});
				$("#close-btn").click(function(){
					$("#message-box").hide(500);
					$(".checkbox").prop('checked', false);
				});

		

		});
		
	</script>
	

</body>

</html>
