<!doctype html>
<html lang="en">

	<%- include('partials/head') %>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		
<%- include('partials/nav') %>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
	
<%- include('partials/leftslider') %>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="row justify-content-md-center"></div>
					<div class="container-fluid">
						<h2 class="page-title">Promocode: <span style="color:darkseagreen;"> <b> <%=promocode.code %></b> </span>  </h2>
						<div class="row justify-content-md-center">
							<div class="col-md-9">
							<div class="panel">
								<div class="panel-body">
								
									<form action="/dashboard/promocode" method="POST">
										<br>
										<div class="row"> 
											<div class="col-md-4">
												<label for="code">Promo Code</label>
												<input disabled class="form-control" type="text" id="name" name="promocode[code]" placeholder="<%=promocode.code %>" required>
											</div>
											
									
											<div class="col-md-4">
												<label for="subtotal_min">Subtotal Minimum </label>
												<input disabled class="form-control" type="text" id="promocode[subtotal_min]" name="promocode[subtotal_min]" placeholder="<%=promocode.subtotal_min%>">
												
											</div>
											<div class="col-md-4">
												<label for="max_use">Maximum use</label>				
												<input disabled class="form-control" type="text" name="promocode[max_use]"  id="promocode[max_use]" placeholder="<%=promocode.max_use%>" value="<%=promocode.max_use%>">
													
												</div>
											
											
											
										</div>
										<br>
										<div class="row">
											
											<div class="col-md-4">
												<label for="discount_amount">Discount Amount</label>									
												<input disabled class="form-control" type="text" id="promocode[discount_amount]" name="promocode[discount_amount]" 
												 placeholder="<%=promocode.discount_amount%>"> </input>
											</div>
											<div class="col-md-4">
												<label for="discount_percent">*Discount Percentage</label>
												<input disabled class="form-control" name="promocode[discount_percent]" id="promocode[discount_percent]" placeholder="<%=promocode.discount_percent%>">
													
											</div>
											
												
												<div class="col-md-4">
													<label for="active" style="color: brown;">Active</label>
													<input disabled type="text" class="form-control" name="promocode[is_active]" id="promocode[is_active]" placeholder="<%=promocode.is_active%>"required>
													
												</div>
											
											
											

										</div>
										
										
										<br>
										<div class="row">
											<div class="col-md-12">
												<label for="description"> Description </label>
												<textarea disabled class="form-control" name="promocode[description]" id="promocode[description]" 
												placeholder="<%=promocode.description%>" rows="3" required></textarea>
											</div>

										</div>
										
										<br><br><hr>
										* Promo Code 為了避免出bug, 系統設定為大寫英文字母(沒有小寫) 可輸入符號和數字
										<br><br>
										* Subtotal Minimum : 設定客人買滿多少的時候便可用此promocode
										<br> 使用場景： 買滿HKD500可減 $20 
										<br> 注意： 不填 - 默認為0，不需要買滿多少才能用折扣碼
										<br><br>
										* Discount Amount 和 Discount Percentage 只能選一個填，如果使用discount percentage，則discount Amount 輸入 0；
										<br>若輸入了discount Amount ，discount percentage要選"沒有折扣"
										<br>若不小心兩個都填了，只有 percentage 有效，因為不能同時又打x折又減現金
										<br><br>
										* Maximum use: 最多使用次數，默認為10000次；
										<br> 使用情況： 設定只有20個promocode, 只要此Code被使用20次便會失效
										<br><br>
										* Active 
										<br>
										Promo Code 是否開始生效？ 

				
										
					
										

										<div class="col-md-12 text-right">
											<br>
											<a href="/dashboard/promocode" class="btn btn-warning"  > Back to all promocode</a>
											<a href="/dashboard/promocode/<%=promocode._id%>/edit" class="btn btn-primary"  > Edit </a>
											
										</div>
									
									</form>

									
									
								</div>
							</div>
							
								<!-- END ALERT MESSAGES -->
							</div>
							</div>
					
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../../dashboard/vendor/jquery/jquery.min.js"></script>
	<script src="../../dashboard/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../dashboard/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../dashboard/scripts/klorofil-common.js"></script>


</body>

</html>
