<!doctype html>
<html lang="en">

	<%- include('partials/head') %>
<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		
<%- include('partials/nav') %>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
	
<%- include('partials/leftslider') %>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="row justify-content-md-center"></div>
					<div class="container-fluid">
						<h2 class="page-title">Edit Promo Code: <span style="color: darkseagreen;"> <%=promocode.code %> </span> </h2>
						<div class="row justify-content-md-center">
							<div class="col-md-9">
							<div class="panel">
								<div class="panel-body">
								
									<form action="/dashboard/promocode/<%=promocode._id%>?_method=PUT" method="POST">
										<br>
										<div class="row"> 
											<div class="col-md-3">
												<label for="code">Promo Code</label>
												<input class="form-control" type="text" id="name" name="promocode[code]" value="<%=promocode.code%>">
											</div>
											
											<div class="col-md-3">
												<label for="start_date">Start Date</label>
												<input class="form-control" type="date" id="promocode[start_date]" name="promocode[start_date]">

											</div>
											<div class="col-md-3">
												<label for="expire_date">Expire Date</label>
												<input class="form-control" type="date" id="promocode[expire_date]" name="promocode[expire_date]">
												
											</div>
											<div class="col-md-3">
												<label for="subtotal_min">Subtotal Minimum </label>
												<input class="form-control" type="text" id="promocode[subtotal_min]" name="promocode[subtotal_min]" value="<%=promocode.subtotal_min%>">
												
											</div>
											
											
											
										</div>
										<br>
										<div class="row">
											
											<div class="col-md-3">
												<label for="discount_amount">Discount Amount</label>									
												<input class="form-control" type="text" id="promocode[discount_amount]" name="promocode[discount_amount]" 
												 value="<%=promocode.discount_amount%>"> </input>
											</div>
											<div class="col-md-3">
												<label for="discount_percent">*Discount Percentage</label>
												<select class="form-control" name="promocode[discount_percent]" id="promocode[discount_percent]">
													<option value="1">沒有折扣</option>
													<option value="0.9">九五折 = (total*0.95)</option>
													<option value="0.9">九折 = (total*0.9)</option>
													<option value="0.8">八五折= (total*0.85)</option>
													<option value="0.8">八折= (total*0.8)</option>
													<option value="0.75">七五折=(total*0.75)</option>												
													<option value="0.5">五折=(total*0.5)</option>
														
												</select>
											</div>
											<div class="col-md-3">
												<label for="useOnce">Use Once</label>				
												<select class="form-control" name="promocode[use_once]" id="promocode[use_once]" required>
													<option value="false"> No</option>
													<option value="true"> Yes </option>
													</select>
												</div>
												
												<div class="col-md-3">
													<label for="active" style="color: brown;">Active</label>
													<select class="form-control" name="promocode[is_active]" id="promocode[is_active]" required>
														<option value="false"> No, is not activated</option>
														<option value="true"> Yes, it can be used now</option>
														
													</select>
												</div>
											
											
											

										</div>
										
										
										<br>
										<div class="row">
											<div class="col-md-12">
												<label for="description"> Description </label>
												<textarea class="form-control" name="promocode[description]" id="promocode[description]" 
												placeholder="<%=promocode.description%>" rows="3" required></textarea>
											</div>

										</div>
										
										<br>	
										* Subtotal Minimum : 設定客人買滿多少的時候便可用此promocode
										<br> 使用場景： 買滿HKD500可減 $20 
										<br> 注意： 不填 - 即等於沒有限制，不需要買滿多少才能用折扣碼
										<br><br>
										* Discount Amount 和 Discount Percentage 只能選一個填，如果使用discount percentage，則不需要輸入 discount Amount；
										<br>若輸入了discount Amount ，discount percentage要選"沒有折扣"
										<br>若不小心兩個都填了，只有 percentage 有效，因為不能同時又打x折又減現金
										<br><br>
										* Use Once : 是否此Promo Code 只能用一次？ 
										<br> 使用情況：只給 "一個人" 用一次。 只要此Code被使用一次便會失效
										<br><br>
										* Active 
										<br>
										Promo Code 是否開始生效？ 即使你選了start date 是今天，如果你填的 Active 是 "No" 的選項，此code還是不能用；
										<br><br>
										* Expire Date 
										<br>
										當你選了有效日期，那麼當天就不能用了，儘管你把 Active 改成 Yes 也不能用

				
										
					
										

										<div class="col-md-12 text-right">
											<br>
											<a href="/dashboard/promocode/<%=promocode._id%>" class="btn btn-warning"  > back to "<%=promocode.code%>"</a>
											
											<button class="btn btn-success" type="submit">
												Submit 
											</button>

										</div>
									
									</form>

									
									
								</div>
							</div>
							
								<!-- END ALERT MESSAGES -->

								<div class="text center">
									<div class="row ">
									<div class="col-md-3"> 
									
									</div>		
									<div class="col-md-2"></div>		
									<div class="col-md-3">
										
		
										<button id="popupbtn" class="btn btn-danger" > Delete Promocode </button>
					
									
									</div>
									</div>
									</div>

								<!-- end delete button-->

								<!-- message box-->
								<div id="message-box" class="message-box" style="display: none;">
								
									<div class="overplay">
									<div class="content">
										<button id="close-btn" class="close-btn"> &times;<i></i></button>
										<h3>Delete</h3>
										<p>This code will be deleted. Are you sure you want to delete 
											promo code: 
											<b>"<%=promocode.code %>"?</b> </p>
									
										<div class="panel-body">
	
											<form action="/dashboard/promocode/<%=promocode._id %>?_method=DELETE" method="POST">
												<div class="col-md-3"></div>	
												<div class="col-md-3">
														<button type="submit" class="btn btn-danger "  > Yes, Delete  <b><%=promocode.code %></b> </button>
												</div>
												</div>
											
											</form>
											
										</div>
										</div>
								
								</div>
								<!-- end message box -->
							</div>
							</div>
					
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../../dashboard/vendor/jquery/jquery.min.js"></script>
	<script src="../../dashboard/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../dashboard/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../dashboard/scripts/klorofil-common.js"></script>

	<!--pop up message box for delete button-->
	<script>
		$(document).ready(function (){
				$("#popupbtn").click(function(){
					$("#message-box").show(500);
				

				});
				$("#close-btn").click(function(){
					$("#message-box").hide(500);
				});

		

		});
		
	</script>

</body>

</html>
